<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
    <title>Attendance Form</title>
</head>
<body style ="
background-image: url('https://www.transparenttextures.com/patterns/bedge-grunge.png');
  overflow-x: hidden;">
    <div id="display_contents">
    <form action="" method="post" role="form" id="form_attendance" style="padding: 15%;">
        <div>
        {{ form.hidden_tag() }}
        <br>
        <br>
        {{ form.name.label }} {{ form.name() }}
        <br>

        <br>
        
        {{ form.date.label }} {{ form.date() }}
        </div>
  

        <br>
         <input type="submit" name="add_entry" value="Add Entry" id = "add_entry">
        <input type="submit" name="delete_entry" value="Delete Entry" id = "delete_entry">
        <br>
        
        <br>
        {% for entry in form.entries %}
            <p style="width: 600px;">
            {{ entry.tutorname.label }} {{ entry.tutorname() }}
            {{ entry.hours.label }} {{ entry.hours() }}
            {{ entry.hidden_tag() }}
            </p>
            <br>
         
        {% endfor %}
        {{ form.optional_comment.label }} <br>
        {{ form.optional_comment() }} <br>
        {{ form.submit() }}
        <input type = "submit" name = "redirect_landing" value = "Back" id = "redirect_landing">
    </div>
</body>
</html>