<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
    <title>Attendance Form</title>
</head>
<body>
    <form action="" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        <br>
        {{ form.date.label }} {{ form.date() }}
        <br>
        <input type="submit" name="add_entry" value="Add Entry" id = "add_entry">
        <input type="submit" name="delete_entry" value="Delete Entry" id = "delete_entry">
        {% for entry in form.entries %}
            <p>
            {{ entry.tutorname.label }} {{ entry.tutorname() }}
            {{ entry.hours.label }} {{ entry.hours() }}
            {{ entry.hidden_tag() }}
            </p>
        {% endfor %}
        {{ form.optional_comment.label }} <br>
        {{ form.optional_comment() }} <br>
        {{ form.submit() }}
        <button onclick= "window.location.href='/landing_page'">
            Back
        </button>
</body>
</html>