<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body style="background-color: #454545;">
    <div class="box-contents" style="display: flex;justify-content: center; justify-content: center; padding-top: 15vh;">
        <div class="box-confirm" style="background-color: white;">
            <div class="text-center">
                <img src="../static/MerryLogo.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-4"
                  width="250px" alt="profile">
              </div>
            <h1 style="padding-top: 2%; padding-bottom: 2%;"> Thanks for filling out the form!</h1>
            <p>We've received your session information so your all good to go.</p>
        </div>
    </div>
    
</body>
</html>