
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attendance Form</title>
</head>
<body>
    <form action="" method="post" role="form" id="form_attendance" style="padding: 100px;">
        {{ form.table.label}} {{ form.table() }} <br>
      
        <div id = "attendance_func">
        {{ form.attendance_function.label }} {{ form.attendance_function() }} <br>
        </div>
        <div id = "attendance_comments_func" style = "display: none">
          {{ form.attendance_comments_function.label }} {{ form.attendance_comments_function() }} <br>
        </div>
        <div id = "sessions_func" style = "display: none">
          {{ form.sessions_function.label }} {{ form.sessions_function() }} <br>
        </div>
        
        {{ form.toggle_range.label }} {{ form.toggle_range() }} <br>
        <div id = "oneDate">
            {{ form.singledate.label }} {{ form.singledate() }} <br>
        </div>

        <div id="dateRange" style="display: none">
            {{ form.start_date.label }} {{ form.start_date() }} <br>
            {{ form.end_date.label }} {{ form.end_date() }} <br>
        </div>
        {{ form.tutor.label }} {{ form.tutor() }} <br>
        {{ form.submit() }}

<script>
        //function for toggling whether to query one date or a range
        function toggleRange() {
          let is_checked = document.getElementById('toggle_range').checked;
          if (is_checked) {
            document.getElementById("oneDate").style.display = "none"
            document.getElementById("dateRange").style.display = "initial"
          } else {
            document.getElementById("oneDate").style.display = "initial"
            document.getElementById("dateRange").style.display = "none"
          }
        }

        //function for if you change the table, turns specific fields on and off
        function changeTable() {
          let table_value = document.getElementById("table").value;
          if (table_value === "attendance") {
            document.getElementById("attendance_func").style.display = "initial"
            document.getElementById("attendance_comments_func").style.display = "none"
            document.getElementById("sessions_func").style.display = "none"
          } else if (table_value === "attendance_comments") {
            document.getElementById("attendance_func").style.display = "none"
            document.getElementById("attendance_comments_func").style.display = "initial"
            document.getElementById("sessions_func").style.display = "none"
          } else if (table_value === "sessions") {
            document.getElementById("attendance_func").style.display = "none"
            document.getElementById("attendance_comments_func").style.display = "none"
            document.getElementById("sessions_func").style.display = "initial"
          }
}
</script>
</body>
</html>





