<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/static.css"   rel="stylesheet" type="text/css"/>
    <title>Landing Page</title>
</head>
<body style="overflow: hidden;">
    <nav class="navbar navbar-expand-lg navbar-* bg-* .sticky-top ms-auto">
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding-right: 5vh; font-size: larger;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="text-align: end;">
             <button id= "logout-button"> <a class="nav-link text-right" id="nav-logout" style= "color: black; text-align: right;"> Logout<span class="sr-only"></span></a></button>
            </li>
            
          </ul>
          
        </div>
      </nav>


<div class="skewed-pages" style="overflow: hidden;">
   
        <div class="page1 page active">
            <div class="page-left half-page">
                    <div class="page-block">
                        <div class="page-content">

                        </div>
                    </div>
            </div>
            <div class="page-right half-page" id ="attendance-box">
                    <a class="link" id = "attendance-link">
                        <div class="page-block">
                            
                            <div class="page-content">
                                
                                <button class="page-heading" id="page-button">Attendance</button>
                                
                                <p class="page-message" style="padding-top: 1rem;">(scroll for more)</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="page2 page">
            <div class="page-left half-page">
                <a class="link" id = "Analytics-Link">
                    <div class="page-block">
                        <div class="page-content">
                            <h1 class="page-heading">Analytics</h1>
                            <p class="page-message">(scroll up to go back)</p>
                        </div>
         
                </div>
                </a>
            </div>
            <div class="page-right half-page">
                <div class = "page-block">
                    <div class="page-content">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
<script>

    document.getElementById("attendance-link").addEventListener("click", redirect);

    function redirect(){ window.location = "/attendance"; }

    //document.getElementById("Analytics-Link").addEventListener("click", redirect1);
    
   // function redirect1(){ window.location = "/data"; }

    document.getElementById("nav-logout").addEventListener("click", redirect2);
    
    function redirect2(){ window.location = "/logout"; }

</script>
    
</body>
</html>