<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
   
        <div class="row">
          <div class="col-md-6 col-md-6" id="half-block"> 
            <div class="block" id="block1" >
                <img src="../static/checklist.png" id="checklist">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, vel recusandae dolorem officiis ad ipsum saepe molestiae commodi libero iure.</p>
            </div>



          </div>
          <div class="col-md-6 col-md-6" id = "half-block">
            <div class="block" id=" block2">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex pariatur odio error unde, soluta blanditiis expedita temporibus labore provident hic.</p>
            </div>



           </div>
        </div>
    
</body>
</html>