<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="../static/static.css"   rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-* bg-* .sticky-top ms-auto">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-right" href="login.html" style= "color: white; text-align: right;"> Logout<span class="sr-only"></span></a>
            </li>
            
          </ul>
          
        </div>
      </nav>


<div class="skewed-pages">
   
        <div class="page1 page active">
            <div class="page-left half-page">
                    <div class="page-block">
                        <div class="page-content">

                        </div>
                    </div>
            </div>
            <div class="page-right half-page">
                <a class="link" id = "Attendance-Link" style="text-decoration: none;">
                    <div class="page-block">
                        
                        <div class="page-content">
                            
                             <h1 class="page-heading">Attendance</h1>
                        
                             <p class="page-message">(scroll for more)</p>
                        
                     </div>
                </a>
                    
                </div>
            </div>
        </div>
    
        <div class="page2 page">
            <div class="page-left half-page">
           
                    <div class="page-block">
                        <div class="page-content">
                            <h1 class="page-heading">Analytics</h1>
                            <p class="page-message">(scroll up to go back)</p>
                        </div>
         
                </div>
            </div>
            <div class="page-right half-page">
                <div class = "page-block">
                    <div class="page-content">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
<script>

    document.getElementById("Attendance-Link").addEventListener("click", redirect);

    function redirect(){ window.location = "/attendance"; }

   // document.getElementById("Analytics-Link").addEventListener("click", redirect1);
    
    //function redirect1(){ window.location = "/data"; }

</script>
    
</body>
</html>