<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Harry A Monkey FR</title>
</head>
<body style="background-color: #454545;">
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            
            <div class="card my-5">
    
              <form action='login' method='POST' class="card-body cardbody-color p-lg-5">
    
                <div class="text-center">
                  <img src="../static/IMG-3830.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-4"
                    width="250px" alt="profile">
                </div>
    
                <div class="mb-3">
                  <input type='text' name='username' id='username' placeholder='username' class="form-control" id="Username" placeholder="User Name">
                </div>
                <div class="mb-3">
                  <input type='password' name='password' id='password' placeholder='password' class="form-control" id="password" placeholder="password">
                </div>
                <div class="text-center">
                <button type='submit' name='submit'  class="btn btn-color px-5 mb-5 w-100" >Login</button></div>
                
              </form>
            </div>
    
          </div>
        </div>
      </div>
</body>
</html>