<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/general.css"   rel="stylesheet" type="text/css"/>
    <title>Session Summary</title>
</head>
<body style ="
background-image: url('https://www.transparenttextures.com/patterns/bedge-grunge.png');
  overflow-x: hidden;">
    <div id="display_contents">
    <form action="" method="post" role="form" id="form_session" style="padding: 10%;">
        <div>
        {{ form.hidden_tag() }}
        <br>
        <br>
        {{ form.tutor.label }} {{ form.tutor() }}
        <br>
        {{ form.shadowingtutor.label }} {{ form.shadowingtutor() }}
        <br>

        <br>
        {{ form.date.label }} {{ form.date() }}
        <br>

        <br>
        {{ form.tutee.label }} {{ form.tutee() }}
        <br>
        {{ form.tuteegrade.label }} {{ form.tuteegrade() }}
        <br>
        {{ form.parentemail.label }} {{ form.parentemail() }}
        <br>

        <br>
        {{ form.location.label }} {{ form.location() }}
            <div id = "specific_location" style = "display: none">
                {{ form.other_location.label() }} {{ form.other_location() }} <br>
            </div>

        </div>
        
        <br>
        {{ form.sessionlength.label }} {{ form.sessionlength() }}
        <br>
        {{ form.subject.label }} {{ form.subject() }}
        <br>
        {{ form.other_subject.label }} {{ form.other_subject() }}
        <br>
        <br>
        {{ form.summary.label }} <br> 
        {{ form.summary() }}
        <br>
        <br>
        {{ form.suggestions.label }} <br> 
        {{ form.suggestions() }} <br>

         

        {{ form.submit() }}
        <br>
        <br>
    
    </div>
    <script>
        function changeTable() {
            let table_value = document.getElementById("location").value;
            if (table_value === "other") {
                document.getElementById("specific_location").style.display = "initial"
            } else {
                document.getElementById("specific_location").style.display = "none"
            }
    }
    </script>
</body>
</html>